@font-face {
  font-family: 'Determination';
  src: url('./determination.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}
